<amplify-authenticator>
 
  <div *ngFor="let entry of entries">
    <div>{{ entry.timestamp | date:'MM/dd/yyyy hh:mm:ss a'}}: {{ entry.log }} </div>
  </div>

  <div class="form-body">
    <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
      <div>
        <label>Log: </label>
        <input type="text" formControlName="log" autocomplete="off">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

  <!-- <amplify-sign-out></amplify-sign-out>-->
</amplify-authenticator>
