<amplify-authenticator>
 
  <div *ngFor="let entry of entries">
    <div>{{ entry.timestamp | date:'MM/dd/yyyy hh:mm:ss a'}}: {{ entry.log }} </div>
  </div>

  <div class="form-body">
    <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
      <div>
        <textarea matInput placeholder="Log Entry..." formControlName="log" autocomplete="off" cols="90%"></textarea>
      </div>
      <button type="submit" mat-button>Submit</button>
    </form>
  </div>

  <!-- <amplify-sign-out></amplify-sign-out>-->
</amplify-authenticator>
